In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv
from scipy.stats import linregress

#Dont' forget PNG of datframs
census_data = "../project_one/census_income_data.csv"

In [2]:
#Obtaining data from csv and api
census_data_income = pd.read_csv(census_data)
census_data_income

# https://enviro.epa.gov/enviro/efservice/SDW_VIOL_ENFORCEMENT/COUNTYSERVED/MCLEAN/STATE/IL/Excel
    
url = "https://enviro.epa.gov/enviro/efservice/SDW_VIOL_ENFORCEMENT/CSV"

response = requests.get(url).json
print(response)

<bound method Response.json of <Response [200]>>

In [3]:
CSV_URL = "https://enviro.epa.gov/enviro/efservice/SDW_VIOL_ENFORCEMENT/CSV" 
#requesting csv from epa website decoding/reading as csv then converting to a list    
with requests.Session() as s:
    download = s.get(CSV_URL)

    decoded_content = download.content.decode('utf-8')

    cr = csv.reader(decoded_content.splitlines(), delimiter=',')
    my_list = list(cr)
    
# Converting to dataframe    
epa_csv = pd.DataFrame(my_list)
epa_csv

                                                    0     1     2      3
0                                              <html>  None  None   None
1                            <title>SQL ERROR</title>  None  None   None
2             <body bgcolor="#ffffff" text="#cc0000">  None  None   None
3                                  <h4>SQL ERROR</h4>  None  None   None
4                <p>Error 1089 calling procedure:</p>  None  None   None
5                                       <dir><b><pre>  None  None   None
6   ORA-01089: immediate shutdown or close in prog...  None  None   None
7                                    Process ID: 6897  None  None   None
8               Session ID: 8918 Serial number: 10698  None  None   None
9                                    </pre></b></dir>  None  None   None
10        <p>The last SQL statement executed was:</p>  None  None   None
11                                      <dir><b><pre>  None  None   None
12                                              begin  None  None   None
13                               efservice.parser(:B1   :B2   :B3  :B4);
14                                            commit;  None  None   None
15                                               end;  None  None   None
16                                   </pre></b></dir>  None  None   None
17                                            </body>  None  None   None
18                                            </html>  None  None   None

In [4]:
#Chagning main csv
epa_try =  epa_csv

In [5]:
#Renaming the columns with the first row
epa_try.rename(columns=epa_try.iloc[0],inplace=True)

In [6]:
epa_try.head()

                                    <html>   NaN   NaN   NaN
0                                   <html>  None  None  None
1                 <title>SQL ERROR</title>  None  None  None
2  <body bgcolor="#ffffff" text="#cc0000">  None  None  None
3                       <h4>SQL ERROR</h4>  None  None  None
4     <p>Error 1089 calling procedure:</p>  None  None  None

In [7]:
#Deleting the first row 
epa_try.drop(epa_try.index[0])

                                               <html>   NaN   NaN    NaN
1                            <title>SQL ERROR</title>  None  None   None
2             <body bgcolor="#ffffff" text="#cc0000">  None  None   None
3                                  <h4>SQL ERROR</h4>  None  None   None
4                <p>Error 1089 calling procedure:</p>  None  None   None
5                                       <dir><b><pre>  None  None   None
6   ORA-01089: immediate shutdown or close in prog...  None  None   None
7                                    Process ID: 6897  None  None   None
8               Session ID: 8918 Serial number: 10698  None  None   None
9                                    </pre></b></dir>  None  None   None
10        <p>The last SQL statement executed was:</p>  None  None   None
11                                      <dir><b><pre>  None  None   None
12                                              begin  None  None   None
13                               efservice.parser(:B1   :B2   :B3  :B4);
14                                            commit;  None  None   None
15                                               end;  None  None   None
16                                   </pre></b></dir>  None  None   None
17                                            </body>  None  None   None
18                                            </html>  None  None   None

In [8]:
census_try = census_data_income
census_try

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,2018 Poverty and Median Household Income Estim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Information,NaN,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,56,037,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,56,039,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,56,041,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,56,043,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,56,045,WY,Weston County,777,608,946,11.8,9.2,14.4,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [10]:
census_tryi=census_try.drop(census_try.index[0])
census_tryi

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
1,Geographic Information,NaN,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,01,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,56,037,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,56,039,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,56,041,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,56,043,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,56,045,WY,Weston County,777,608,946,11.8,9.2,14.4,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [27]:
census_tryin=census_tryi.drop(census_tryi.index[0])
census_tryin

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,01,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,01,003,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,56,037,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,56,039,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,56,041,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,56,043,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,56,045,WY,Weston County,777,608,946,11.8,9.2,14.4,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [31]:
#Renaming the columns with the first 
census_tryin.head()

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,01,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,01,003,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.

In [32]:
del census_tryin['Table with column headers in rows 3 and 4']

In [33]:
census_tryin.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,003,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.

In [35]:
del census_tryin['Unnamed: 1']

In [36]:
census_tryin

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [37]:
census_tryin.rename(columns=census_tryin.iloc[0],inplace=True)

In [38]:
census_tryin

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
2,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [39]:
census_trying=census_tryin.drop(census_tryin.index[0])
census_trying

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
7,AL,Barbour County,"6,788","5,662","7,914",30.9,25.8,36.0,"2,242","1,788",...,45.9,"34,382","31,157","37,607",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [41]:
census_trying.reset_index(drop=True)

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
0,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
1,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
2,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
3,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
4,AL,Barbour County,"6,788","5,662","7,914",30.9,25.8,36.0,"2,242","1,788",...,45.9,"34,382","31,157","37,607",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3190,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3191,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3192,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3193,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [54]:
census_trying.columnsb

Index(['Postal Code', 'Name', 'Poverty Estimate, All Ages',
       '90% CI Lower Bound', '90% CI Upper Bound', 'Poverty Percent, All Ages',
       '90% CI Lower Bound', '90% CI Upper Bound',
       'Poverty Estimate, Age 0-17', '90% CI Lower Bound',
       '90% CI Upper Bound', 'Poverty Percent, Age 0-17', '90% CI Lower Bound',
       '90% CI Upper Bound', 'Poverty Estimate, Age 5-17 in Families',
       '90% CI Lower Bound', '90% CI Upper Bound',
       'Poverty Percent, Age 5-17 in Families', '90% CI Lower Bound',
       '90% CI Upper Bound', 'Median Household Income', '90% CI Lower Bound',
       '90% CI Upper Bound', 'Poverty Estimate, Age 0-4', '90% CI Lower Bound',
       '90% CI Upper Bound', 'Poverty Percent, Age 0-4', '90% CI Lower Bound',
       '90% CI Upper Bound'],
      dtype='object')

In [55]:
# left off where I am trying to decide what columns and data is revelant to our hypthonsis.  I am thinking of grabbing the columns that are revelant to our question.

In [50]:
pd.set_option('display.max_columns',20)

In [53]:
census_trying.count()

Postal Code                               3194
Name                                      3194
Poverty Estimate, All Ages                3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Poverty Percent, All Ages                 3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Poverty Estimate, Age 0-17                3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Poverty Percent, Age 0-17                 3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Poverty Estimate, Age 5-17 in Families    3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Poverty Percent, Age 5-17 in Families     3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Median Household Income                   3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Poverty Estimate, Age 0-4                 3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
Poverty Percent, Age 0-4                  3194
90% CI Lower Bound                        3194
90% CI Upper Bound                        3194
dtype: int64

README.TXT file for the 2018 SAIPE State and County Estimates FTP Directory

I.    File Organization:

    The files in the estmod18 data directory contain estimates of poverty and income
    for 2018. There is one data file for each state with data for all 2018 statistics.  
    Additionally, there is one file that includes the data for the US and states, and 
    one file that includes the data for the US, states, and counties. 
 
  ------------------------------------------------------------------------

II.   File Names

        est18ALL.txt      (for US and all states and counties)
        est18US.txt       (for US with state data [but no county data])
        est18_[STATE].txt (for state with county data)

        where [STATE] = standard two-letter postal abbreviations.

  ------------------------------------------------------------------------

III.  Record Layout for Estimates Files

      Position   Variable

        8- 15    Estimate of people of all ages in poverty
       17- 24    90% confidence interval lower bound of
                   estimate of people of all ages in poverty
       26- 33    90% confidence interval upper bound of
                   estimate of people of all ages in poverty
       35- 38    Estimated percent of people of all ages in poverty
       40- 43    90% confidence interval lower bound of
                   estimate of percent of people of all ages in poverty
       45- 48    90% confidence interval upper bound of
                   estimate of percent of people of all ages in poverty

       50- 57    Estimate of people age 0-17 in poverty
       59- 66    90% confidence interval lower bound of
                   estimate of people age 0-17 in poverty
       68- 75    90% confidence interval upper bound of
                   estimate of people age 0-17 in poverty
       77- 80    Estimated percent of people age 0-17 in poverty
       82- 85    90% confidence interval lower bound of
                   estimate of percent of people age 0-17 in poverty
       87- 90    90% confidence interval upper bound of
                   estimate of percent of people age 0-17 in poverty

       92- 99    Estimate of related children age 5-17 in families in
                   poverty
      101-108    90% confidence interval lower bound of estimate of
                   related children age 5-17 in families in poverty
      110-117    90% confidence interval upper bound of estimate of
                   related children age 5-17 in families in poverty
      119-122    Estimated percent of related children age 5-17 in
                   families in poverty
      124-127    90% confidence interval lower bound of estimate of percent
                   of related children age 5-17 in families in poverty
      129-132    90% confidence interval upper bound of estimate of percent
                   of related children age 5-17 in families in poverty

      134-139    Estimate of median household income
      141-146    90% confidence interval lower bound of
                   estimate of median household income
      148-153    90% confidence interval upper bound of
                   estimate of median household income

          NOTE:  Columns 155-192 will be blank for all county-level
                 records.  These data are only available at the
                 national and state-level.

      155-161    Estimate of people under age 5 in poverty
      163-169    90% confidence interval lower bound of
                   estimate of people under age 5 in poverty
      171-177    90% confidence interval upper bound of
                   estimate of people under age 5 in poverty
      179-182    Estimated percent of people under age 5 in poverty
      184-187    90% confidence interval lower bound of
                   estimate of percent of people under age 5 in poverty
      189-192    90% confidence interval upper bound of
                   estimate of percent of people under age 5 in poverty

      194-238    State or county name
      240-241    Two-letter Postal State abbreviation
      243-264    A tag indicating the file name and date of creation

  ------------------------------------------------------------------------