In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv
from scipy.stats import linregress

#Dont' forget PNG of datframs
census_data = "../project_one/census_income_data.csv"

In [2]:
#Obtaining data from csv and api
census_data_income = pd.read_csv(census_data)
census_data_income

# https://enviro.epa.gov/enviro/efservice/SDW_VIOL_ENFORCEMENT/COUNTYSERVED/MCLEAN/STATE/IL/Excel
    
url = "https://enviro.epa.gov/enviro/efservice/SDW_VIOL_ENFORCEMENT/CSV"

response = requests.get(url).json
print(response)

<bound method Response.json of <Response [200]>>

In [3]:
CSV_URL = "https://enviro.epa.gov/enviro/efservice/SDW_VIOL_ENFORCEMENT/CSV" 
#requesting csv from epa website decoding/reading as csv then converting to a list    
with requests.Session() as s:
    download = s.get(CSV_URL)

    decoded_content = download.content.decode('utf-8')

    cr = csv.reader(decoded_content.splitlines(), delimiter=',')
    my_list = list(cr)
    
# Converting to dataframe    
epa_csv = pd.DataFrame(my_list)
epa_csv

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,SDW_VIOL_ENFORCEMENT.PWSID,SDW_VIOL_ENFORCEMENT.PWSNAME,SDW_VIOL_ENFORCEMENT.STATE,SDW_VIOL_ENFORCEMENT.COUNTYSERVED,SDW_VIOL_ENFORCEMENT.VIOID,SDW_VIOL_ENFORCEMENT.CCODE,SDW_VIOL_ENFORCEMENT.CNAME,SDW_VIOL_ENFORCEMENT.CTYPE,SDW_VIOL_ENFORCEMENT.VCODE,SDW_VIOL_ENFORCEMENT.VNAME,...,SDW_VIOL_ENFORCEMENT.VIOLMEASURE,SDW_VIOL_ENFORCEMENT.ENFACTIONTYPE,SDW_VIOL_ENFORCEMENT.ENFACTIONNAME,SDW_VIOL_ENFORCEMENT.ENFDATE,SDW_VIOL_ENFORCEMENT.COMPPERBEGINDATE,SDW_VIOL_ENFORCEMENT.COMPPERENDDATE,SDW_VIOL_ENFORCEMENT.SOURCES,SDW_VIOL_ENFORCEMENT.DEFINITION,SDW_VIOL_ENFORCEMENT.HEALTH_EFFECTS,
1,ID5160056,SPRINGDALE ACRES,ID,CASSIA,8251,2274,HEXACHLOROBENZENE,SOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIF,St Public Notif received,18-JUN-14,01-JAN-11,31-DEC-13,Discharge from metal refineries and agricultur...,"Hexachlorobenzene, a synthetic organic chemica...",Liver or kidney problems; reproductive difficu...,None
2,IN2493152,"G & S REALTY PARTNERS, LLC.",IN,MARION,6030,2992,Ethylbenzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIF,St Public Notif received,10-JUN-10,01-JAN-09,31-DEC-09,Discharge from petroleum refineries,Ethylbenzene is a colorless organic liquid wit...,Liver or kidneys problems,None
3,PA2450314,FEDEX FREIGHT EAST,PA,MONROE,1016111,2992,Ethylbenzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIA,St Violation/Reminder Notice,25-AUG-10,01-APR-10,30-JUN-10,Discharge from petroleum refineries,Ethylbenzene is a colorless organic liquid wit...,Liver or kidneys problems,None
4,WY5601199,KENNINGTON SPRINGS PIPELINE,WY,,2325,2046,Carbofuran,SOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SOX,St Compliance achieved,24-OCT-11,01-JAN-08,31-DEC-10,Leaching of soil fumigant used on rice and alf...,Carbofuran is a white crystalline solid with a...,"Problems with blood, nervous system, or reprod...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997,CT0650102,HARTLAND ELEM SCH & TOWN BLDGS,CT,,379909,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIE,St Public Notif requested,09-MAR-09,01-OCT-08,31-DEC-08,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
99998,WV3305535,HERNDON COMMUNITY WATER,WV,,5204831,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIE,St Public Notif requested,13-FEB-14,01-OCT-13,31-DEC-13,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
99999,VA6047255,GLENDALE SUBDIVISION,VA,CULPEPER,63,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIE,St Public Notif requested,16-DEC-09,01-JAN-09,31-MAR-09,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
100000,MA1033000,BLANDFORD WATER DEPT,MA,,10,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SFL,St AO (w/o penalty) issued,07-NOV-14,01-JUL-14,30-SEP-14,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
100001,ID2250026,HARPSTER WATER DISTRICT,ID,IDAHO,20308,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SOX,St Compliance achieved,19-MAR-10,01-JAN-05,31-DEC-07,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None

In [4]:
#Chagning main csv
epa_try =  epa_csv

In [5]:
#Renaming the columns with the first row
epa_try.rename(columns=epa_try.iloc[0],inplace=True)

In [6]:
epa_try.head()

,SDW_VIOL_ENFORCEMENT.PWSID,SDW_VIOL_ENFORCEMENT.PWSNAME,SDW_VIOL_ENFORCEMENT.STATE,SDW_VIOL_ENFORCEMENT.COUNTYSERVED,SDW_VIOL_ENFORCEMENT.VIOID,SDW_VIOL_ENFORCEMENT.CCODE,SDW_VIOL_ENFORCEMENT.CNAME,SDW_VIOL_ENFORCEMENT.CTYPE,SDW_VIOL_ENFORCEMENT.VCODE,SDW_VIOL_ENFORCEMENT.VNAME,...,SDW_VIOL_ENFORCEMENT.VIOLMEASURE,SDW_VIOL_ENFORCEMENT.ENFACTIONTYPE,SDW_VIOL_ENFORCEMENT.ENFACTIONNAME,SDW_VIOL_ENFORCEMENT.ENFDATE,SDW_VIOL_ENFORCEMENT.COMPPERBEGINDATE,SDW_VIOL_ENFORCEMENT.COMPPERENDDATE,SDW_VIOL_ENFORCEMENT.SOURCES,SDW_VIOL_ENFORCEMENT.DEFINITION,SDW_VIOL_ENFORCEMENT.HEALTH_EFFECTS,
0,SDW_VIOL_ENFORCEMENT.PWSID,SDW_VIOL_ENFORCEMENT.PWSNAME,SDW_VIOL_ENFORCEMENT.STATE,SDW_VIOL_ENFORCEMENT.COUNTYSERVED,SDW_VIOL_ENFORCEMENT.VIOID,SDW_VIOL_ENFORCEMENT.CCODE,SDW_VIOL_ENFORCEMENT.CNAME,SDW_VIOL_ENFORCEMENT.CTYPE,SDW_VIOL_ENFORCEMENT.VCODE,SDW_VIOL_ENFORCEMENT.VNAME,...,SDW_VIOL_ENFORCEMENT.VIOLMEASURE,SDW_VIOL_ENFORCEMENT.ENFACTIONTYPE,SDW_VIOL_ENFORCEMENT.ENFACTIONNAME,SDW_VIOL_ENFORCEMENT.ENFDATE,SDW_VIOL_ENFORCEMENT.COMPPERBEGINDATE,SDW_VIOL_ENFORCEMENT.COMPPERENDDATE,SDW_VIOL_ENFORCEMENT.SOURCES,SDW_VIOL_ENFORCEMENT.DEFINITION,SDW_VIOL_ENFORCEMENT.HEALTH_EFFECTS,
1,ID5160056,SPRINGDALE ACRES,ID,CASSIA,8251,2274,HEXACHLOROBENZENE,SOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIF,St Public Notif received,18-JUN-14,01-JAN-11,31-DEC-13,Discharge from metal refineries and agricultur...,"Hexachlorobenzene, a synthetic organic chemica...",Liver or kidney problems; reproductive difficu...,None
2,IN2493152,"G & S REALTY PARTNERS, LLC.",IN,MARION,6030,2992,Ethylbenzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIF,St Public Notif received,10-JUN-10,01-JAN-09,31-DEC-09,Discharge from petroleum refineries,Ethylbenzene is a colorless organic liquid wit...,Liver or kidneys problems,None
3,PA2450314,FEDEX FREIGHT EAST,PA,MONROE,1016111,2992,Ethylbenzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIA,St Violation/Reminder Notice,25-AUG-10,01-APR-10,30-JUN-10,Discharge from petroleum refineries,Ethylbenzene is a colorless organic liquid wit...,Liver or kidneys problems,None
4,WY5601199,KENNINGTON SPRINGS PIPELINE,WY,,2325,2046,Carbofuran,SOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SOX,St Compliance achieved,24-OCT-11,01-JAN-08,31-DEC-10,Leaching of soil fumigant used on rice and alf...,Carbofuran is a white crystalline solid with a...,"Problems with blood, nervous system, or reprod...",None

In [7]:
#Deleting the first row 
epa_try.drop(epa_try.index[0])

,SDW_VIOL_ENFORCEMENT.PWSID,SDW_VIOL_ENFORCEMENT.PWSNAME,SDW_VIOL_ENFORCEMENT.STATE,SDW_VIOL_ENFORCEMENT.COUNTYSERVED,SDW_VIOL_ENFORCEMENT.VIOID,SDW_VIOL_ENFORCEMENT.CCODE,SDW_VIOL_ENFORCEMENT.CNAME,SDW_VIOL_ENFORCEMENT.CTYPE,SDW_VIOL_ENFORCEMENT.VCODE,SDW_VIOL_ENFORCEMENT.VNAME,...,SDW_VIOL_ENFORCEMENT.VIOLMEASURE,SDW_VIOL_ENFORCEMENT.ENFACTIONTYPE,SDW_VIOL_ENFORCEMENT.ENFACTIONNAME,SDW_VIOL_ENFORCEMENT.ENFDATE,SDW_VIOL_ENFORCEMENT.COMPPERBEGINDATE,SDW_VIOL_ENFORCEMENT.COMPPERENDDATE,SDW_VIOL_ENFORCEMENT.SOURCES,SDW_VIOL_ENFORCEMENT.DEFINITION,SDW_VIOL_ENFORCEMENT.HEALTH_EFFECTS,
1,ID5160056,SPRINGDALE ACRES,ID,CASSIA,8251,2274,HEXACHLOROBENZENE,SOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIF,St Public Notif received,18-JUN-14,01-JAN-11,31-DEC-13,Discharge from metal refineries and agricultur...,"Hexachlorobenzene, a synthetic organic chemica...",Liver or kidney problems; reproductive difficu...,None
2,IN2493152,"G & S REALTY PARTNERS, LLC.",IN,MARION,6030,2992,Ethylbenzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIF,St Public Notif received,10-JUN-10,01-JAN-09,31-DEC-09,Discharge from petroleum refineries,Ethylbenzene is a colorless organic liquid wit...,Liver or kidneys problems,None
3,PA2450314,FEDEX FREIGHT EAST,PA,MONROE,1016111,2992,Ethylbenzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIA,St Violation/Reminder Notice,25-AUG-10,01-APR-10,30-JUN-10,Discharge from petroleum refineries,Ethylbenzene is a colorless organic liquid wit...,Liver or kidneys problems,None
4,WY5601199,KENNINGTON SPRINGS PIPELINE,WY,,2325,2046,Carbofuran,SOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SOX,St Compliance achieved,24-OCT-11,01-JAN-08,31-DEC-10,Leaching of soil fumigant used on rice and alf...,Carbofuran is a white crystalline solid with a...,"Problems with blood, nervous system, or reprod...",None
5,IN5289019,TWIN FALLS MOBILE HOME COMMUNITY,IN,WAYNE,9530,2046,Carbofuran,SOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SFJ,St Formal NOV issued,28-JAN-11,01-JAN-09,31-DEC-09,Leaching of soil fumigant used on rice and alf...,Carbofuran is a white crystalline solid with a...,"Problems with blood, nervous system, or reprod...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997,CT0650102,HARTLAND ELEM SCH & TOWN BLDGS,CT,,379909,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIE,St Public Notif requested,09-MAR-09,01-OCT-08,31-DEC-08,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
99998,WV3305535,HERNDON COMMUNITY WATER,WV,,5204831,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIE,St Public Notif requested,13-FEB-14,01-OCT-13,31-DEC-13,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
99999,VA6047255,GLENDALE SUBDIVISION,VA,CULPEPER,63,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SIE,St Public Notif requested,16-DEC-09,01-JAN-09,31-MAR-09,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
100000,MA1033000,BLANDFORD WATER DEPT,MA,,10,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SFL,St AO (w/o penalty) issued,07-NOV-14,01-JUL-14,30-SEP-14,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None
100001,ID2250026,HARPSTER WATER DISTRICT,ID,IDAHO,20308,2990,Benzene,VOC,03,"Monitoring, Regular",...,Monitoring and Reporting,SOX,St Compliance achieved,19-MAR-10,01-JAN-05,31-DEC-07,Discharge from factories; leaching from gas st...,"Benzene, a volatile organic chemical, is a cle...",Anemia; decrease in blood platelets; increased...,None

In [8]:
census_try = census_data_income
census_try

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,2018 Poverty and Median Household Income Estim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Information,NaN,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,56,037,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,56,039,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,56,041,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,56,043,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,56,045,WY,Weston County,777,608,946,11.8,9.2,14.4,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [9]:
census_tryi=census_try.drop(census_try.index[0])
census_tryi

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
1,Geographic Information,NaN,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,01,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,56,037,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,56,039,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,56,041,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,56,043,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,56,045,WY,Weston County,777,608,946,11.8,9.2,14.4,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [10]:
census_tryin=census_tryi.drop(census_tryi.index[0])
census_tryin

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,01,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,01,003,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,56,037,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,56,039,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,56,041,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,56,043,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,56,045,WY,Weston County,777,608,946,11.8,9.2,14.4,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [11]:
#Renaming the columns with the first 
census_tryin.head()

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,01,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,01,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,01,003,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.

In [12]:
del census_tryin['Table with column headers in rows 3 and 4']

In [13]:
census_tryin.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,000,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,000,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,001,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,003,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.

In [14]:
del census_tryin['Unnamed: 1']

In [15]:
census_tryin

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
2,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [16]:
census_tryin.rename(columns=census_tryin.iloc[0],inplace=True)

In [17]:
census_tryin

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
2,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [18]:
census_trying=census_tryin.drop(census_tryin.index[0])
census_trying

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
4,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
5,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
6,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
7,AL,Barbour County,"6,788","5,662","7,914",30.9,25.8,36.0,"2,242","1,788",...,45.9,"34,382","31,157","37,607",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3193,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3194,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3195,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3196,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [19]:
census_trying.reset_index(drop=True)

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",90% CI Lower Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
0,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532","12,873,127",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
1,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613","247,744",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
2,AL,Autauga County,"7,587","6,334","8,840",13.8,11.5,16.1,"2,509","1,965",...,23.9,"59,338","53,628","65,048",.,.,.,.,.,.
3,AL,Baldwin County,"21,069","17,390","24,748",9.8,8.1,11.5,"6,442","4,723",...,16.9,"57,588","54,437","60,739",.,.,.,.,.,.
4,AL,Barbour County,"6,788","5,662","7,914",30.9,25.8,36.0,"2,242","1,788",...,45.9,"34,382","31,157","37,607",.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,WY,Sweetwater County,"3,540","2,804","4,276",8.4,6.7,10.1,"1,099",802,...,11.2,"73,315","67,141","79,489",.,.,.,.,.,.
3190,WY,Teton County,"1,443","1,137","1,749",6.3,5.0,7.6,278,202,...,7.7,"99,087","88,142","110,032",.,.,.,.,.,.
3191,WY,Uinta County,"2,010","1,585","2,435",10.0,7.9,12.1,696,494,...,14.0,"63,401","56,812","69,990",.,.,.,.,.,.
3192,WY,Washakie County,918,700,"1,136",11.9,9.1,14.7,277,197,...,19.3,"55,190","49,263","61,117",.,.,.,.,.,.
3193,WY,Weston County,777,608,946,11.8,9.2,14.4,227,159,...,19.1,"54,319","48,315","60,323",.,.,.,.,.,.

In [21]:
# left off where I am trying to decide what columns and data is revelant to our hypthonsis.  I am thinking of grabbing the columns that are revelant to our question.

new_census = census_trying[['Postal Code','Name', 'Median Household Income']]

In [28]:
new_census
new_census = new_census.reset_index(drop=True)

In [29]:
new_census

     Postal Code               Name Median Household Income
0             US      United States                  61,937
1             AL            Alabama                  49,881
2             AL     Autauga County                  59,338
3             AL     Baldwin County                  57,588
4             AL     Barbour County                  34,382
...          ...                ...                     ...
3189          WY  Sweetwater County                  73,315
3190          WY       Teton County                  99,087
3191          WY       Uinta County                  63,401
3192          WY    Washakie County                  55,190
3193          WY      Weston County                  54,319

[3194 rows x 3 columns]

###Start of epa cleaning data